name: Manually triggered workflow
on:
  workflow_dispatch:
    inputs:
      input_1:
        description: 'Person to greet'
        required: true
      input_2:
        description: 'location'
        required: true

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - name: print inputs
        if: ${{ 'github.event.inputs.input_1' != 'no'}}
        run: |
          echo "${{ github.event.inputs.input_1 }}"
          echo "${{ github.event.inputs.input_2 }}"
